:root {
    --color1: #DC0000;
    --color2: #FFDB89;
    --color3: #850000;
    --color4: #FFF6C3;
}

header,
footer,
section {
    padding: 50px 0;
}

header {
    padding: 50px 0;
}

.section-style {
    background-color: #eee;
}

.container-style {
    background-color: #fff;
    border: 4px solid rgba(173, 179, 185, 0.4);
    border-radius: 10px;
}

.footer-class {
    background-color: #fff;
    border-top: 4px solid rgba(173, 179, 185, 0.4);
}



.min-size-1 {
    min-height: 430px;
}

.min-size-2 {
    min-height: 430px;
}

.a_btn-1 {
    color: var(--color4);
}

._btn-1:hover {
    color: var(--color3)
}

.a_btn-2 {
    color: var(--color3);
}

.a_btn-2:hover {
    color: var(--color1);
}

#logo {
    height: 60px;
    width: 60px;
    margin-right: 35px;
}

.lang-switch {
    padding-right: 50px;
}


.font-logo-text {
    color: var(--color3);
    font-family: "Sofia", sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-shadow: 3px 3px 3px, var(--color2);
}

.font-logo-text:hover {
    color: var(--color1);
}


/* table in cart.jsp */
.table tbody td {
    vertical-align: middle;
}

.btn-incre, .btn-decre {
    color: var(--color3);
    box-shadow: none;
    font-size: 25px;
}

.btn-incre:hover, .btn-decre:hover {
    color: var(--color1);
}

.menu-item {
    margin: 0 30px;
    padding: 16px 30px;
    font-size: 20px;
    color: var(--color2);
}

.menu-item:hover {
    color: var(--color4);
}

.itd_play {
    background-color: var(--color1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto;
    transition: all 0.2s ease;
}

.itd_play:hover {
    background-color: var(--color2);
}

.itd_triangle {
    margin-right: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent var(--bs-white);
}

.btn-itd {
    display: block;
    max-width: 200px;
    margin: 0 auto;
    padding: 8px 30px;
    color: var(--bs-white);
    background-color: var(--color2);
}


.btn-itd:hover {
    color: var(--bs-white);
    background-color: var(--color1);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
}

.masthead {
    width: 100%;
    height: 100%;
    margin-bottom: -50px;
    text-align: center;
    color: #fff;
    /*background-image: url("https://media.timeout.com/images/105851927/image.jpg");*/
    background-image: url("https://media.cntraveler.com/photos/610da075d713cfe783511976/16:9/w_2560,c_limit/The%20Black%20Sheep,%20Las%20Vega%20_Interior.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
}

.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
}

.btn-xl {
    padding: 1.25rem 2.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;
}

a {
    font-size:14px;
    font-weight:700
}
.superNav {
    font-size:13px;
}
.form-control {
    outline:none !important;
    box-shadow: none !important;
}
@media screen and (max-width:540px){
    .centerOnMobile {
        text-align:center
    }
}

.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

.my-btn-red {
    color: #c23c4f;
}

.my-btn-red:hover {
    color: #f63e50;
}


.btn-grad-red {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad-red:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.btn-grad-yellow {
    background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad-yellow:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.btn-grad-green {
    background-image: linear-gradient(to right, #1D976C 0%, #93F9B9  51%, #1D976C  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad-green:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-grad-green-01 {
    background-image: linear-gradient(to right, #f79d00 0%, #64f38c  51%, #f79d00  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad-green-01:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


